@import '../../../asserts/colors';
@import '../../../asserts/transition';

.SideDrawer {
	height: 100%;
	width: 6px;
	border: 3px solid $color-secondary;
	margin-right: 2px;
	@include transition(0.5s all ease-in-out);

	&.Open {
		width: 300px;
	}
}
