.Chat {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-flow: column;

	.Content {
		flex-grow: 1;
		height: 100%;
		display: flex;

		.MessageContainer {
			width: 100%;
			display: flex;
			flex-flow: column;
		}
	}
}
