@import '../../../asserts/colors';

.Chat {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-flow: column;
	background-image: linear-gradient(rgba($color-secondary, 0.5), rgba($color-primary, 0.5));

	.Content {
		flex-grow: 1;
		height: 100%;
		display: flex;

		.MessageContainer {
			width: 100%;
			display: flex;
			flex-flow: column;
			border: 3px solid $color-primary;
		}
	}
}
